block content
	.container-fluid
		.row
			.col-xs-12
				h1 We are building a proper kiteboarding community and we need your help!
				p We are two kitesurfers that love sport and love to build websites. We are tired of kitesurfing website that suck and will create something better.
				p Right now we need your help to fill few forms about your favorite/local spot conditions and schools info.
				ul.btn-list
					li
						a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
					li
						a.btn.btn-default(href='/school.html', role='button') My school
				h2 What will be there?
				p First iteration of KiteAround website will include:
		.row
			.col-sm-6.index-feature
				a(href="spot.html")
					h3 Spots
				p Catalog of all kiteboarding / kitesurfing spots all around the globe. Descriptions, statistics, condition, hazards, meteostations — all there.
			.col-sm-6.index-feature
				a(href="trick.html")
					h3 Tricks
				p Have you ever wandered, what trick to learn next? We are compiling all tricks variations with video instructions, so you could try something new every session!
		.row
			.col-sm-6.index-feature
				a(href="school.html")
					h3 Schools
				p You can see on a map all schools, detailed info about each, photos, location, features, you name it.
			.col-sm-6.index-feature
				a(href="event.html")
					h3 Events
				p Where are the biggest competitions, sports and music festivals, local events will take place? You can tell by looking in our events section.
		.row
			.col-sm-6.index-feature
				a(href="map.html")
					h3 Maps
				p All data is visualized on maps — spots, schools, shops, you name it!
			.col-sm-6.index-feature
				a(href="shop.html")
					h3 Shops
				p Where is nearest retailer of your favorite brand? You can find it here too.
		.row
			.col-xs-12
				h2 Why it will be better?
				p We love to build responsive websites at 
					a(href="http://accuraten.com/") Accuraten
					|  bureau. Kite Around will have beautiful design and pleasant user experience, optimized for mobile devices.
				h2 How can you help?
				p Please fill these forms to share your knowledge with Internet:
				ul.btn-list
					li
						a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
					li
						a.btn.btn-default(href='/school.html', role='button') My school
				h2 When it will be ready?
				p We plan to launch in 2015. You can tell us your email and take part in beta testing.
				form(id="", method="POST", action="?")
					.form-group
						input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
					button.btn.btn-default(type='submit') Let me know