extends _default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Frontend boilerplate
        p Contents:
        ul
          li Gulp
          li Bootstrap 4 alpha
          li Font Awesome
          li SASS
          li Autoprefixer
          li Jade
          li Google analytics